In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
import os
def print_df(df):
    print(tabulate(df, headers="keys",tablefmt="html"))
print(os.listdir('../input/datafiles/'))

['AdvAvg_Stats.csv', 'Adv_Stats.csv', 'alpha.csv', 'alpha_2003.csv', 'alpha_2004.csv', 'alpha_2005.csv', 'alpha_2006.csv', 'alpha_2007.csv', 'alpha_2008.csv', 'alpha_2009.csv', 'alpha_2010.csv', 'alpha_2011.csv', 'alpha_2012.csv', 'alpha_2013.csv', 'alpha_2014.csv', 'alpha_2015.csv', 'alpha_2016.csv', 'alpha_2017.csv', 'alpha_2018.csv', 'beta.csv', 'beta_2003.csv', 'beta_2004.csv', 'beta_2005.csv', 'beta_2006.csv', 'beta_2007.csv', 'beta_2008.csv', 'beta_2009.csv', 'beta_2010.csv', 'beta_2011.csv', 'beta_2012.csv', 'beta_2013.csv', 'beta_2014.csv', 'beta_2015.csv', 'beta_2016.csv', 'beta_2017.csv', 'beta_2018.csv', 'Cities.csv', 'Conferences.csv', 'ConferenceTourneyGames.csv', 'Events_2010.csv', 'Events_2011.csv', 'Events_2012.csv', 'Events_2013.csv', 'Events_2014.csv', 'Events_2015.csv', 'Events_2016.csv', 'Events_2017.csv', 'Events_2018.csv', 'Events_2019.csv', 'GameCities.csv', 'MasseyOrdinals.csv', 'NCAATourneyCompactResults.csv', 'NCAATourneyDetailedResults.csv', 'NCAATourneySeedRoundSlots.csv', 'NCAATourneySeeds.csv', 'NCAATourneySlots.csv', 'Players_2010.csv', 'Players_2011.csv', 'Players_2012.csv', 'Players_2013.csv', 'Players_2014.csv', 'Players_2015.csv', 'Players_2016.csv', 'Players_2017.csv', 'Players_2018.csv', 'Players_2019.csv', 'RegularSeasonCompactResults.csv', 'RegularSeasonDetailedResults.csv', 'Seasons.csv', 'SecondaryTourneyCompactResults.csv', 'SecondaryTourneyTeams.csv', 'TeamCoaches.csv', 'TeamConferences.csv', 'Teams.csv', 'TeamSpellings.csv']

In [2]:
RegularSeasonDetailedResults = pd.read_csv('../input/datafiles/RegularSeasonDetailedResults.csv')
RegularSeasonDetailedResults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [3]:
RegularSeasonDetailedResults.shape

(87504, 34)

In [4]:
list(RegularSeasonDetailedResults.columns.values)

['Season',
 'DayNum',
 'WTeamID',
 'WScore',
 'LTeamID',
 'LScore',
 'WLoc',
 'NumOT',
 'WFGM',
 'WFGA',
 'WFGM3',
 'WFGA3',
 'WFTM',
 'WFTA',
 'WOR',
 'WDR',
 'WAst',
 'WTO',
 'WStl',
 'WBlk',
 'WPF',
 'LFGM',
 'LFGA',
 'LFGM3',
 'LFGA3',
 'LFTM',
 'LFTA',
 'LOR',
 'LDR',
 'LAst',
 'LTO',
 'LStl',
 'LBlk',
 'LPF']

We notice that each box score contains two teams: a winning team and a losing team. Thus, each row corresponds to one game. We would like give each team its own row, such that there are two rows per game. This will allow us to calculate advanced stats for each team.

In [5]:
def setWinAndLoseTeamsRecords(RegularSeasonDetailedResults):
    #Convert the data frame from one record per game to one record per team/game
    regSeaW = RegularSeasonDetailedResults.rename(columns = {'WTeamID': 'TEAMID',
                                                             'WScore': 'SCORE',
                                                             'WFGM': 'FGM',
                                                             'WFGA': 'FGA',
                                                             'WFGM3': 'FGM3',
                                                             'WFGA3': 'FGA3',
                                                             'WFTM': 'FTM',
                                                             'WFTA': 'FTA',
                                                             'WOR': 'OR',
                                                             'WDR': 'DR',
                                                             'WAst': 'AST',
                                                             'WTO': 'TO',
                                                             'WStl': 'STL',
                                                             'WBlk': 'BLK',
                                                             'WPF': 'PF',
                                                             'LTeamID': 'O_TEAMID',
                                                             'LScore': 'O_SCORE',
                                                             'LFGM': 'O_FGM',
                                                             'LFGA': 'O_FGA',
                                                             'LFGM3': 'O_FGM3',
                                                             'LFGA3': 'O_FGA3',
                                                             'LFTM': 'O_FTM',
                                                             'LFTA': 'O_FTA',
                                                             'LOR': 'O_OR',
                                                             'LDR': 'O_DR',
                                                             'LAst': 'O_AST',
                                                             'LTO': 'O_TO',
                                                             'LStl': 'O_STL',
                                                             'LBlk': 'O_BLK',
                                                             'LPF': 'O_PF'
                                                            })

    regSeaL = RegularSeasonDetailedResults.rename(columns = {'LTeamID': 'TEAMID',
                                                             'LScore': 'SCORE',
                                                             'LFGM': 'FGM',
                                                             'LFGA': 'FGA',
                                                             'LFGM3': 'FGM3',
                                                             'LFGA3': 'FGA3',
                                                             'LFTM': 'FTM',
                                                             'LFTA': 'FTA',
                                                             'LOR': 'OR',
                                                             'LDR': 'DR',
                                                             'LAst': 'AST',
                                                             'LTO': 'TO',
                                                             'LStl': 'STL',
                                                             'LBlk': 'BLK',
                                                             'LPF': 'PF',

                                                             'WTeamID': 'O_TEAMID',
                                                             'WScore': 'O_SCORE',
                                                             'WFGM': 'O_FGM',
                                                             'WFGA': 'O_FGA',
                                                             'WFGM3': 'O_FGM3',
                                                             'WFGA3': 'O_FGA3',
                                                             'WFTM': 'O_FTM',
                                                             'WFTA': 'O_FTA',
                                                             'WOR': 'O_OR',
                                                             'WDR': 'O_DR',
                                                             'WAst': 'O_AST',
                                                             'WTO': 'O_TO',
                                                             'WStl': 'O_STL',
                                                             'WBlk': 'O_BLK',
                                                             'WPF': 'O_PF',
                                                             })

    regSea = (regSeaW, regSeaL)
    regSea = pd.concat(regSea, ignore_index = True, sort = False)
    regSea = regSea[['Season','TEAMID', 'DayNum', 'SCORE', 'O_TEAMID', 'O_SCORE',
                 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
                 'AST', 'TO', 'STL', 'BLK', 'PF', 'NumOT',
                 'O_FGM', 'O_FGA', 'O_FGM3', 'O_FGA3', 'O_FTM', 'O_FTA', 'O_OR', 'O_DR',
                 'O_AST', 'O_TO', 'O_STL', 'O_BLK', 'O_PF', 'GameNum'
                 ]]
    return regSea

In [6]:
RegularSeasonDetailedResults['GameNum'] = 1
regSes = setWinAndLoseTeamsRecords(RegularSeasonDetailedResults)
regSes.head()

,Season,TEAMID,DayNum,SCORE,O_TEAMID,O_SCORE,FGM,FGA,FGM3,FGA3,...,O_FTM,O_FTA,O_OR,O_DR,O_AST,O_TO,O_STL,O_BLK,O_PF,GameNum
0,2003,1104,10,68,1328,62,27,58,3,14,...,16,22,10,22,8,18,9,2,20,1
1,2003,1272,10,70,1393,63,26,62,8,20,...,9,20,20,25,7,12,8,6,16,1
2,2003,1266,11,73,1437,61,24,58,8,18,...,14,23,31,22,9,12,2,5,23,1
3,2003,1296,11,56,1457,50,18,38,3,9,...,8,15,17,20,9,19,4,3,23,1
4,2003,1400,11,77,1208,71,30,61,6,14,...,17,27,21,15,12,10,7,1,14,1

In [7]:
def GetAdvancedStats(Game_Min,regsea_box):
    # effective field goal %
    regsea_box['EFG']       = (regsea_box['FGM'] + (regsea_box['FGM3']*0.5))/regsea_box['FGA']
    
    # turnover rate
    regsea_box['TOV']       = regsea_box['TO']/((regsea_box['FGA'] + 0.44) + (regsea_box['FTA']+regsea_box['TO']))
    
    # off and def rebound ratios
    regsea_box['ORB']       = regsea_box['OR']/(regsea_box['OR'] + regsea_box['O_DR'])
    regsea_box['DRB']       = regsea_box['DR']/(regsea_box['DR'] + regsea_box['O_OR'])
    
    # free throw attempt ratio
    regsea_box['FTAR']      = regsea_box['FTA']/(regsea_box['FGA'])
    regsea_box['O_FTAR']    = regsea_box['O_FTA']/(regsea_box['O_FGA'])
    
    # true shooting %
    regsea_box['TS']        = regsea_box['SCORE']/((regsea_box['FGA']*2) + (0.88 * regsea_box['FTA']))
    regsea_box['O_TS']      =  regsea_box['O_SCORE']/((regsea_box['O_FGA']*2) + (0.88 * regsea_box['O_FTA']))
    
    # assist to turnover ratio
    regsea_box['ASTTO']     = (regsea_box['AST']/(regsea_box['TO']))
    regsea_box['O_ASTTO']   = (regsea_box['O_AST']/(regsea_box['O_TO']))
    
    # assist ratio
    regsea_box['ASTR']      = (regsea_box['AST'] * 100) / ( (regsea_box['FGA'] + (regsea_box['FTA']*0.44)) + regsea_box['AST'] + regsea_box['TO'] )
    regsea_box['O_ASTR']    = (regsea_box['O_AST'] * 100) / ( (regsea_box['O_FGA'] + (regsea_box['O_FTA']*0.44)) + regsea_box['O_AST'] + regsea_box['O_TO'] )

    # total rebounds (team and opponent) and rebound percentage
    regsea_box['TR']        = regsea_box['OR'] + regsea_box['DR']
    regsea_box['O_TR']      = regsea_box['O_OR'] + regsea_box['O_DR']
    regsea_box['REBP']      = 100 * (regsea_box['TR']) / (regsea_box['TR'] + regsea_box['O_TR'])
    
    # number of possessions
    regsea_box['POSS']      = 0.5 * ((regsea_box['FGA'] + 0.4 * regsea_box['FTA'] - 1.07 * (regsea_box['OR'] / (regsea_box['OR'] + regsea_box['O_DR'])) * (regsea_box['FGA'] - regsea_box['FGM']) + regsea_box['TO']) + (regsea_box['O_FGA'] + 0.4 * regsea_box['O_FTA'] - 1.07 * (regsea_box['O_OR'] / (regsea_box['O_OR'] + regsea_box['DR'])) * (regsea_box['O_FGA'] - regsea_box['O_FGM']) + regsea_box['O_TO']))
    regsea_box['O_POSS']    = 0.5 * ((regsea_box['O_FGA'] + 0.4 * regsea_box['O_FTA'] - 1.07 * (regsea_box['O_OR'] / (regsea_box['O_OR'] + regsea_box['DR'])) * (regsea_box['O_FGA'] - regsea_box['O_FGM']) + regsea_box['O_TO']) + (regsea_box['FGA'] + 0.4 * regsea_box['FTA'] - 1.07 * (regsea_box['OR'] / (regsea_box['OR'] + regsea_box['O_DR'])) * (regsea_box['FGA'] - regsea_box['FGM']) + regsea_box['TO']))
    
    # game minutes
    regsea_box['GM']        = (Game_Min*regsea_box['GameNum']) + (5*regsea_box['NumOT'])
    
    # pace
    regsea_box['PACE']      = 40 * ((regsea_box['POSS'] ) / (2 * (regsea_box['GM'] / 5)))
    
    # def and off rating
    regsea_box['DRTG']      = 100* (regsea_box['O_SCORE']/regsea_box['POSS'])
    regsea_box['ORTG']      = 100* (regsea_box['SCORE']/(regsea_box['O_POSS']))
    
    # 3 fg% and defending the 3
    regsea_box['OFF3']      = (regsea_box['FGM3']/(regsea_box['FGA3']))
    regsea_box['DEF3']      = (regsea_box['O_FGM3']/(regsea_box['O_FGA3']))
    
    # opponent effective field goal %
    regsea_box['O_EFG']     = (regsea_box['O_FGM'] + (regsea_box['O_FGM3']*0.5))/regsea_box['O_FGA']
    
    # opponent turnover rate
    regsea_box['O_TOV']     = regsea_box['O_TO']/((regsea_box['O_FGA'] + 0.44) + (regsea_box['O_FTA']+regsea_box['O_TO']))
    
    # another def and off rating (hmmm)
    regsea_box['DEFRTG']    = 100*regsea_box['O_SCORE']/(regsea_box['O_FGA'] + regsea_box['O_TO'] + (0.44* regsea_box['O_FTA']) - regsea_box['O_OR'])
    regsea_box['OFFRTG']    = 100*regsea_box['SCORE']/(regsea_box['FGA'] + regsea_box['TO'] + (0.44*regsea_box['FTA']) - regsea_box['OR'])
    
    # another turnover rate? (hmmm)
    regsea_box['TOR']       = (regsea_box['TO'] * 100) / (regsea_box['FGA'] + (regsea_box['FTA'] * 0.44) + regsea_box['AST'] + regsea_box['TO'])
    regsea_box['O_TOR']     = (regsea_box['O_TO'] * 100) / (regsea_box['O_FGA'] + (regsea_box['O_FTA'] * 0.44) + regsea_box['O_AST'] + regsea_box['O_TO'])
    
    # steal to turnover ratio
    regsea_box['STLTO']     = regsea_box['STL']/regsea_box['TO']
    regsea_box['O_STLTO']   = regsea_box['O_STL']/regsea_box['O_TO']
    
    # performance impact estimator
    regsea_box['PIE']       = (regsea_box['SCORE'] + regsea_box['FGM'] + regsea_box['FTM'] - regsea_box['FGA']  - regsea_box['FTA']  + regsea_box['DR'] + (.5 * regsea_box['OR']) + regsea_box['AST'] + regsea_box['STL'] + (.5 * regsea_box['BLK']) - regsea_box['PF'] - regsea_box['TO']) / ((regsea_box['SCORE'] + regsea_box['FGM'] + regsea_box['FTM'] - regsea_box['FGA']  - regsea_box['FTA']  + regsea_box['DR'] + (.5 * regsea_box['OR']) + regsea_box['AST'] + regsea_box['STL'] + (.5 * regsea_box['BLK']) - regsea_box['PF'] - regsea_box['TO'])  + (regsea_box['O_SCORE'] + regsea_box['O_FGM'] + regsea_box['O_FTM'] - regsea_box['O_FGA'] - regsea_box['O_FTA'] + regsea_box['O_DR'] + (.5 * regsea_box['O_OR']) + regsea_box['O_AST'] + regsea_box['O_STL'] + (.5 * regsea_box['O_BLK']) - regsea_box['O_PF'] - regsea_box['O_TO']))
        
    return regsea_box

In [8]:
RegSesAdv = GetAdvancedStats(40, regSes)
RegSesAdv.head()

,Season,TEAMID,DayNum,SCORE,O_TEAMID,O_SCORE,FGM,FGA,FGM3,FGA3,...,DEF3,O_EFG,O_TOV,DEFRTG,OFFRTG,TOR,O_TOR,STLTO,O_STLTO,PIE
0,2003,1104,10,68,1328,62,27,58,3,14,...,0.200000,0.433962,0.192637,87.719298,90.763481,22.566719,20.297700,0.304348,0.500000,0.532847
1,2003,1272,10,70,1393,63,26,62,8,20,...,0.250000,0.402985,0.120676,92.920354,102.399064,13.083736,12.658228,0.307692,0.666667,0.602339
2,2003,1266,11,73,1437,61,24,58,8,18,...,0.115385,0.321918,0.110660,95.134124,114.491844,10.442774,11.525163,0.500000,0.166667,0.736434
3,2003,1296,11,56,1457,50,18,38,3,9,...,0.272727,0.428571,0.227709,86.805556,97.154754,16.077170,22.727273,1.166667,0.210526,0.754717
4,2003,1400,11,77,1208,71,30,61,6,14,...,0.375000,0.435484,0.100563,112.913486,120.841180,15.099223,10.429704,0.285714,0.700000,0.570732

In [12]:
#saving the file
#RegSesAdv.to_csv('Adv_Stats.csv', index=False)

Now we do the average advanced stats over the whole season. (Note this is just an average)

In [13]:
AdvAvg = RegSesAdv.groupby(['Season', 'TEAMID']).mean().reset_index()
#AdvAvg.to_csv('AdvAvg_Stats.csv', index=False)

In [11]:
AdvAvg.head()

,Season,TEAMID,DayNum,SCORE,O_TEAMID,O_SCORE,FGM,FGA,FGM3,FGA3,...,DEF3,O_EFG,O_TOV,DEFRTG,OFFRTG,TOR,O_TOR,STLTO,O_STLTO,PIE
0,2003,1102,72.464286,57.250000,1318.928571,57.000000,19.142857,39.785714,7.821429,20.821429,...,0.379754,0.514142,0.174100,105.142005,104.902619,15.961456,17.805455,0.590845,0.425372,0.488599
1,2003,1103,76.962963,78.777778,1258.407407,78.148148,27.148148,55.851852,5.444444,16.074074,...,0.369966,0.549098,0.162451,111.829472,111.985073,13.454575,15.695409,0.627256,0.450934,0.509717
2,2003,1104,72.571429,69.285714,1282.642857,65.000000,24.035714,57.178571,6.357143,19.857143,...,0.330969,0.480099,0.159553,98.975644,104.527648,14.573740,15.654694,0.525862,0.437459,0.536514
3,2003,1105,78.307692,71.769231,1270.153846,76.653846,24.384615,61.615385,7.576923,20.769231,...,0.355629,0.509308,0.183605,102.129410,93.942187,17.960724,18.189027,0.537188,0.544268,0.415050
4,2003,1106,74.000000,63.607143,1245.250000,63.750000,23.428571,55.285714,6.107143,17.642857,...,0.298856,0.452774,0.167377,95.562829,94.469094,18.647484,16.910793,0.522705,0.639909,0.527568